/* ABOUT component */
.about-div {
	margin: 30px;
	font-family: 'Fredericka the Great', cursive;
	letter-spacing: 0.1rem;
	line-height: 1.5rem;
	animation: slidein 1s;
}
.about-title {
	text-align: center;
	font-size: 2rem;
	border: none;
}
.about-p {
	text-align: center;
	font-weight: bold;
}

.about-a {
	border: none;
}

@media (min-width: 600px) {
	/* ABOUT component */
	.about-div {
		margin: 50px;
		font-family: 'Fredericka the Great', cursive;
		letter-spacing: 0.1rem;
		line-height: 2.5rem;
	}
	.about-title {
		text-align: center;
		font-size: 2rem;
		border: none;
	}
	.about-p {
		text-align: center;
		font-weight: bold;
	}

	.about-a {
		border: none;
	}

	.about-a:hover {
		box-shadow: none;
	}

	.the-game {
		width: 300px;
	}
}
