@media (min-width: 600px) {
	.about-div {
		display: flex;
		flex-direction: column;
		margin: 5px;
		font-family: "Fredericka the Great", cursive;
		letter-spacing: 0.2rem;
		line-height: 2.5rem;
	}
	.about-title {
		text-align: center;
		font-size: 2rem;
	}
	.about-p {
		text-align: center;
		font-weight: bold;
	}
}
