/* HOME component */
.home-container {
	display: grid;
	grid-template-columns: repeat(3, 0.5fr);
	grid-template-rows: 0.5fr;
	gap: 20px;
	margin: 5px 5px;
}

.home-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	opacity: 0.75;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.welcome-div {
	grid-column: 1 / 4;
	grid-row: 2;
	text-align: center;
	font-family: "Fredericka the Great", cursive;
	font-size: 1rem;
	letter-spacing: 0.5rem;
	line-height: 2rem;
	margin: 5px 5px;
}

@media (min-width: 600px) {
	/* HOME component */
	.home-container {
		display: grid;
		grid-template-columns: repeat(3, 0.5fr);
		grid-template-rows: 0.5fr;
		gap: 60px;
		margin: 10px 10px;
	}

	.home-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		opacity: 0.75;
		clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	}

	.welcome-div {
		grid-column: 1 / 4;
		grid-row: 2;
		text-align: center;
		font-family: "Fredericka the Great", cursive;
		font-size: 1.5rem;
		letter-spacing: 1rem;
		line-height: 3rem;
	}
}
