/* HERO SEARCH FORM component  */
.form-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.search-bar {
	width: 30%;
	padding: 10px;
	font-size: 1rem;
	text-overflow: ellipsis;
	font-family: "Rye", cursive;
	border-radius: 5px;
}

.form-button {
	margin-left: 5px;
	padding: 10px;
	font-size: 1rem;
	color: white;
	font-family: "Rye", cursive;
	background-color: black;
	letter-spacing: 0.25rem;
	border-radius: 5px;
}

.label {
	font-family: "Rye", cursive;
	font-size: 1.5rem;
}

/* ALL IMAGES */
img {
	object-fit: fill;
	width: 100%;
	height: 100%;
}

/* RANDOM HERO component  */
.random-hero-card {
	display: grid;
	grid-column: 2;
	grid-row: 2;
	border-radius: 5px;
}

.random-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.random-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	color: white;
	font-family: "Rye", cursive;
	background-color: black;
	width: 100px;
	padding: 5px;
	margin-bottom: 30px;
	border-radius: 5px;
}

.random-card-img {
	width: 300px;
}

/* HERO LIST/VIEWER/DETAILS components  */
.hero-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px 5px 0px 5px;
	border-radius: 5px;
}

.card-img {
	width: 200px;
}

.try-h2,
.last-search {
	text-align: center;
	font-family: "Fredericka the Great", cursive;
	letter-spacing: 0.2rem;
}

.search-container {
	min-height: 70vh;
}

.last-search {
	opacity: 0.75;
}

.italic-result {
	font-style: italic;
}

.bold-result {
	font-weight: bolder;
	font-size: 1.5rem;
}

/* HERO CARD component  */
.details-container {
	display: grid;
	grid-template-columns: 100px 0.8fr 30px;
	grid-template-rows: repeat(2, 0.1fr);
	border: 1px solid white;
	margin: 10px;
	border-radius: 5px;
}

.details {
	grid-row: 2;
	grid-column: 2 / 4;
	font-family: "Fredericka the Great", cursive;
	letter-spacing: 0.2rem;
	line-height: 1.5rem;
}

.info-card {
	grid-column: 2;
	border: 1px solid white;
}

.card-title {
	font-family: "Rye", cursive;
}

.learn-more {
	font-weight: bold;
	font-size: 120%;
	padding: 10px;
}

/* PAGE NOT FOUND component  */

.not-found-img {
	width: 200px;
}

@media (min-width: 850px) {
	/* HERO SEARCH FORM component  */
	.form-horizontal {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 40px;
	}

	.search-bar {
		width: 30%;
		padding: 20px;
		font-size: 1rem;
		text-overflow: ellipsis;
		font-family: "Rye", cursive;
		border-radius: 5px;
	}

	.form-button {
		margin-left: 5px;
		padding: 20px;
		font-size: 1rem;
		color: white;
		font-family: "Rye", cursive;
		background-color: black;
		letter-spacing: 0.25rem;
		border-radius: 5px;
	}

	.label {
		font-family: "Rye", cursive;
		font-size: 2rem;
	}

	/* ALL IMAGES */

	img {
		object-fit: fill;
		width: 100%;
		height: 100%;
	}

	/* RANDOM HERO component  */

	.random-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.random-button {
		grid-row: 1;
		grid-column: 2;
		margin-left: 5px;
		padding: 20px;
		font-size: 1.5rem;
		color: white;
		font-family: "Rye", cursive;
		font-weight: bold;
		background-color: black;
		letter-spacing: 0.25rem;
		width: 300px;
		border-radius: 5px;
	}

	.random-button:hover {
		box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
		transform: scale(1.1);
	}

	.random-hero-card {
		display: grid;
		grid-column: 2;
		grid-row: 2;
		margin: 20px 20px;
		border-radius: 5px;
	}

	.random-card-img {
		width: 400px;
		height: 600px;
	}

	/* HERO LIST/VIEWER/DETAILS components  */

	.hero-card {
		display: grid;
		grid-template-columns: repeat(3, 0.5fr);
		grid-template-rows: 0.5fr;
		gap: 40px;
		margin: 20px 20px;
		border-radius: 5px;
	}

	.card-img {
		width: 250px;
	}

	.try-h2,
	.last-search {
		text-align: center;
		font-family: "Fredericka the Great", cursive;
		letter-spacing: 0.2rem;
		padding-bottom: 10px;
	}

	.search-container {
		min-height: 90vh;
	}

	.last-search {
		opacity: 0.75;
	}

	.italic-result {
		font-style: italic;
	}

	.bold-result {
		font-weight: bolder;
		font-size: 1.5rem;
	}

	.learn-more {
		width: 300px;
		font-weight: bold;
		font-size: 150%;
		border-radius: 5px;
		margin-bottom: 10px;
		padding: 5px;
	}

	.learn-more:hover {
		box-shadow: none;
	}

	/* HERO CARD component  */

	.details-container {
		display: flex;
		flex-direction: row;
		gap: 20px;
		margin: 20px 20px;
		border: 1px solid white;
		border-radius: 5px;
	}

	.details {
		font-family: "Fredericka the Great", cursive;
		letter-spacing: 0.2rem;
		line-height: 1.75rem;
	}

	.info-card {
		width: 400px;
		height: 600px;
		border: 1px solid white;
	}

	.card-title {
		font-family: "Rye", cursive;
	}

	/* PAGE NOT FOUND component  */
	.not-found-img {
		width: 700px;
		height: 500px;
	}
}
